.author{
    font-size: larger;
    font-family: sans-serif;
    font-weight: bolder; 
}
#pquote{
    font-family: sans-serif;
    font-size: larger;
}
.votes{
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.downvote{
    margin-right: 550px;
    padding-left: 10px;
    margin-top: 5px;
    text-decoration: none;
}
.upvote{
    padding-left: 10px;
    margin-top: 10px;
}
#upvote,#downvote{
    text-align: center;
    font-size: 25px;
}

.view{
    color: rgb(17, 37, 226);
    font-size: 20px;
}